@use "../../styles/variables" as *;

.input {
	display: flex;
	flex-direction: column;
	gap: $size-xs;

	.text {
		color: $color-accent;
	}
	.wrapper-field {
		position: relative;

		input {
			width: 100%;
		}

		button {
			position: absolute;
			right: 0;
			height: 100%;
			width: 40px;
			background: transparent;
			border: none;

			svg {
				padding-top: 4px;
			}
		}
	}

	.field {
		height: 40px;
		padding: $size-xs;
		border-radius: $size-xs;
		border: 1px solid $color-darck-opasity;
		box-shadow: 0 0 5px $color-darck-opasity;
		font-size: 16px;
		color: inherit;
	}

	&--error {
		.field {
			border-color: red;
		}
	}

	.error {
		color: red;
		font-size: 12px;
		margin-top: 4px;
	}
}

.input--checkbox {
	flex-direction: row;

	.field {
		height: 32px;
		border: none;
		box-shadow: none;
	}

	.field[type="checkbox"] {
		width: auto;
		transform: scale(1.5);
	}
}
