@use "../../styles/variables" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  opacity: 1;
  animation: fadeIn 0.3s ease-out;

  &.closing {
    opacity: 0;
  }

}

.modal {
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0;
	width: 350px;
	border-radius: $size-xs;
	background: $color-light;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  .closing & {
    transform: translateY(-20px);
  }

	.content {
		padding: $size-s;
	}

	.header {
		display: flex;
		justify-content: space-between;
    align-items: center;

    p {
      opacity: 0.5;
    }
	}

  &::backdrop {
	background: none;
}
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
