/* font */
$font-heading: "Oswald", sans-serif;
$font-main: "Roboto", sans-serif;

/* color */
$color-bg: rgba(215, 236, 252, 0.1);

$color-light: rgb(255, 255, 255);
$color-darck: rgb(15, 35, 51);
$color-darck-opasity: rgba(39, 94, 135, 0.1);

$color-accent: rgb(39, 94, 135);
$color-accent-hover: rgb(30, 70, 102);
$color-accent-opasity: rgba(30, 70, 102, 0.5);

$color-error: rgb(255, 0, 0);

/* size */
$size-xxs: 4px;
$size-xs: 6px;
$size-s: 12px;
$size-m: 18px;
$size-l: 24px;
$size-xl: 30px;
$size-xxl: 40px;
