@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  margin: 10px auto;
  padding: 0 10px;
  color: $color-darck;
  background-color: $color-bg;
  max-width: 1440px;
  min-width: 375px;
  min-height: 100vh;
}

a {
  color: $color-accent;
  font-family: $font-main;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: $font-heading;
}

ul {
  list-style: none;
}

.error {
  color: red;
  font-size: 18px;
  text-align: center;
  width: 100%;
}