@use "../../styles/variables" as *;

.home {
	.action {
		margin-bottom: $size-xxl;
		display: flex;
		justify-content: space-between;

		label {
			display: flex;
			align-items: center;
			gap: $size-s;
			border-radius: $size-xs;
			cursor: pointer;
		}
	}
}

.home-error {
	margin: 150px auto;
	text-align: center;

	p {
		padding-bottom: $size-l;
	}
}

@media (max-width: 520px) {
	.action {
		flex-direction: column;
		gap: $size-l;
	}
}