@use "../../styles/variables" as *;

.signin {
	width: 355px;
	margin: 0 auto;
	padding: $size-m;
	background-color: $color-light;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.signin-form {
		margin-top: $size-l;
		margin-bottom: $size-l;
		display: flex;
		flex-direction: column;
		gap: $size-m;
	}

	.text {
		text-align: center;
		padding-bottom: $size-s;
	}

	.link {
		border: 1px solid;
		margin: auto;
		color: $color-accent;
		padding: $size-xs $size-m;
		border-radius: $size-xs;
		transition: all 0.3s;
	}

	.link:hover {
		background-color: $color-accent;
		color: $color-light;
	}
}
