@use "../../styles/variables" as *;

.search {
	display: flex;
	gap: $size-xxs;
	align-items: center;
	background-color: $color-light;
	border: 1px solid $color-darck-opasity;
	padding: $size-xs;
	height: $size-xxl;
	box-shadow: 0 0 10px $color-darck-opasity;
	border-radius: $size-xs;
	justify-content: space-between;
	width: 230px;

	.icon-search {
		color: $color-accent-opasity;
	}

	.input {
		width: 100%;
		border: none;
		height: 130%;
	}

	.input:focus-visible {
		outline: none;
	}

	.hidden {
		opacity: 0;
	}

}

.search:has(> .input:focus) {
	outline: 2px solid $color-accent;
}

@media (max-width: 650px) {
	.search {
		order: 3;
		width: 100%;
		margin-top: $size-l;
	}
	
}