@use "../../styles/variables" as *;

.signup {
	margin: 0 auto;
	padding: $size-xxl $size-m;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.signup-form {
		margin-top: $size-l;
		margin-bottom: $size-l;
		display: flex;
		flex-direction: column;
		gap: $size-m;
	}

	.action {
		display: flex;
		gap: $size-m;
		justify-content: center;
	}
}
